:root {
  --primary-color-btn: #28a745;
  --primary-color-btn-hover: #45a049;
  --secondary-color-btn: #91d18b;
  --card-background: #ffffff;
  --card-text-color: #2c3e50;
  --first-layer: #f8f9fa;
  --second-layer: #333333;
}
